<form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
        <h1 > Update user :{{userId}}</h1>
</div>
    <div class="p-field">
      <label for="id" hidden>ID:</label>
      <input pInputText id="id" formControlName="id" type="number" hidden />
    </div>
  
    <div class="p-field">
      <label for="username">Username:</label>
      <input pInputText id="username" formControlName="username" type="text" />
    </div>
  
    <div class="p-field">
      <label for="email">Email:</label>
      <input pInputText id="email" formControlName="email" type="email" />
    </div>
  
    <div class="p-field">
      <label for="password">Password:</label>
      <p-password formControlName="password" [feedback]="false"></p-password>
    </div>
  
    <div formGroupName="name">
      <div class="p-field">
        <label for="firstname">First Name:</label>
        <input pInputText id="firstname" formControlName="firstname" type="text" />
      </div>
  
      <div class="p-field">
        <label for="lastname">Last Name:</label>
        <input pInputText id="lastname" formControlName="lastname" type="text" />
      </div>
    </div>
  
    <div formGroupName="address">
      <div class="p-field">
        <label for="city">City:</label>
        <input pInputText id="city" formControlName="city" type="text" />
      </div>
  
      <div class="p-field">
        <label for="street">Street:</label>
        <input pInputText id="street" formControlName="street" type="text" />
      </div>
    </div>
  
    <p-button label="Update" type="submit" icon="pi pi-check"></p-button>
  </form>
  