<p-card class="addNewForm">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="p-fluid p-formgrid p-grid">
    <div class="p-field">
      <h1>Add New User</h1>
</div>
    <div class="p-field">
      <label for="username">Username:</label>
      <input pInputText id="username" formControlName="username" type="text" />
      <p-message *ngIf="userForm.get('username')?.errors?.['required'] && userForm.get('username')?.touched" severity="error" text="Username is required."></p-message>
      <p-message *ngIf="userForm.get('username')?.errors?.['minlength']" severity="error" text="Username must be at least 4 characters long."></p-message>
    </div>

    <div class="p-field">
      <label for="email">Email:</label>
      <input pInputText id="email" formControlName="email" type="email" />
      <p-message *ngIf="userForm.get('email')?.errors?.['required'] && userForm.get('email')?.touched" severity="error" text="Email is required."></p-message>
      <p-message *ngIf="userForm.get('email')?.errors?.['email']" severity="error" text="Enter a valid email."></p-message>
    </div>

    <div class="p-field">
      <label for="password">Password:</label>
      <p-password id="password" formControlName="password"></p-password>
      <p-message *ngIf="userForm.get('password')?.errors?.['required'] && userForm.get('password')?.touched" severity="error" text="Password is required."></p-message>
      <p-message *ngIf="userForm.get('password')?.errors?.['minlength']" severity="error" text="Password must be at least 6 characters long."></p-message>
    </div>

    <div formGroupName="name">
      <div class="p-field">
        <label for="firstname">First Name:</label>
        <input pInputText id="firstname" formControlName="firstname" type="text" />
        <p-message *ngIf="userForm.get('name.firstname')?.errors?.['required'] && userForm.get('name.firstname')?.touched" severity="error" text="First name is required."></p-message>
      </div>

      <div class="p-field">
        <label for="lastname">Last Name:</label>
        <input pInputText id="lastname" formControlName="lastname" type="text" />
        <p-message *ngIf="userForm.get('name.lastname')?.errors?.['required'] && userForm.get('name.lastname')?.touched" severity="error" text="Last name is required."></p-message>
      </div>
    </div>

    <div formGroupName="address">
      <div class="p-field">
        <label for="city">City:</label>
        <input pInputText id="city" formControlName="city" type="text" />
        <p-message *ngIf="userForm.get('address.city')?.errors?.['required'] && userForm.get('address.city')?.touched" severity="error" text="City is required."></p-message>
      </div>

      <div class="p-field">
        <label for="street">Street:</label>
        <input pInputText id="street" formControlName="street" type="text" />
        <p-message *ngIf="userForm.get('address.street')?.errors?.['required'] && userForm.get('address.street')?.touched" severity="error" text="Street is required."></p-message>
      </div>
    </div>

    <p-button type="submit" label="Submit" icon="pi pi-check"></p-button>
  </form>
</p-card>
